#TopTrack{
    display: flex;
    justify-content: center;
}
.capsuleTrack{
    width: 100%;
    margin: 5%;
}

.track{
    width: 35vw;
    box-shadow:0px 2px 20px 0.1px rgba(255, 255, 255, 0.103);
    height: 16vw;
    display: flex;
    align-items: center;
    columns: 3;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(30px);
    
}

.track:hover >.divImg> .imgTrack{
    transform: translateX(-20vw);
    filter: blur(2px);
    transition: 1s;
}
.track:hover > .divTextTrack{
    filter: blur(3px);  
    color: #00000000;
    transition: 0.8s;
    position: absolute;
}
.imgPlayTrack{
    width: 8vw;
    opacity: 0;
    position: absolute;  
}
a:hover{
    animation: resize 3s infinite;
}
a{
    opacity: 0.5;
    width: 8vw;
    position: absolute;
}
.track:hover >.divImg> a >.imgPlayTrack{
    opacity: 1;
    transform: translateY(1vw);
    transition: 1.2s;
}
.divtrack{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    gap: 50px;
    row-gap: 5px;
}
.imgTrack{
    width: 10vw;
    border-radius: 10%;
    border: #2d2d2d solid 0.5px;
    transition:all 1s ease-out ;
}
.divImg{
    justify-content: flex-end;
    display: flex;
    width: 80%;
    margin: 2%;
    margin-right: 30px;
}
.divTextTrack{
    font-size: 1vw;
    margin: 2%;
    width: auto;
    align-content: center;
    position: absolute;
}
#details{
    font-size: 1vw;
}
.numTrack{
    background: linear-gradient(to right, #ffffff3d, #0000ff00);/* degradado izquierda → derecha */
    -webkit-background-clip: text;  
    color: transparent;      
    font-size: 27vw;
    margin: 0;
    height: min-content;
    align-items: center;
    display: flex;
    margin-bottom: 4vh;
    margin-right: 5%;
    width: 100%;
}
.num10Track{
    font-size: 25vw;
    display: inline-block;
    letter-spacing: -50px;
    margin-left: -10%;
}
.divNum{
    filter: blur(2px);
    margin-left: -7%;
}
.title{
    font-size: 2vw;
    margin-left: 5vw;
}
@media screen and (max-width: 768px) {
    #details{
        font-size: 2vw;
    }
    .divtrack{
        grid-template-columns:none
    }
    .title{
        font-size: 7vw;
    }
    .track{
        width: 70vw;
        height: 15vh;
    }
    .track:hover >.divImg{
        margin-right: 15vw;
    }
    .track:hover >.imgPlayTrack{
        transform: translateY(5vw);
    }
    .imgPlayTrack{
        width: 15vw;
    }
    .numTrack{
        width: 100%;
        font-size: 50vw;
        letter-spacing: 0;
    }
    .divImg{
        /* width: 50%; */
        margin-right: 10px;
    }
    .imgTrack{
        width: 25vw;
    }
    .divNum{
        margin-right: 5%;
    }
    .divTextTrack{
        font-size: 2vw;
    }
    .num10Track{
        font-size: 50vw;
        letter-spacing: -25px;
    }
}
@keyframes resize {
  0% {opacity: 0.5;}
  50%{opacity: 1;}
  100%{opacity: 0.5;}
}